<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  </title>
	<link rel="stylesheet" type="text/css" href="/css/logged.css">
</head>
<body>
    <header class="container">
		<div class="primary_header">
		<nav>
			<img src="emu_logo.png" alt="logo" style="top:2.2em; left: 20px; position: absolute">
			<div class="headeraccount"><img src"" style="margin:10px;"><p style="margin:10px;"> </p></div>
			<ul>
			<button type="submit">Log out</button>
			</ul>	
		</nav>
		</div>