<div class="menuback">
    <div class="container">	
    <div class="drop-wrapper">
            <button class="btn" data-target="#dropright">Dashboard</button>
            <div class="drop-menu dropright" id="dropright">
            </div>
          </div>
    <div class="drop-wrapper">
            <button class="btn" data-target="#dropright1">Academic</button>
            <div class="drop-menu dropright" id="dropright1">
              <a href="#">View Courses</a>
            </div>
          </div>
        <div class="drop-wrapper">
            <button class="btn" data-target="#dropright2">Financial</button>
            <div class="drop-menu dropright" id="dropright2">
            </div>
          </div>
        <div class="drop-wrapper">
            <button class="btn" data-target="#dropright3">My Academic Contacts</button>
            <div class="drop-menu dropright" id="dropright3">
            </div>
          </div>
        </div>
        </div>	