<%- include('includes/head.ejs') %>
	</header>
	
	<%- include('includes/staffnav.ejs') %>
	
	<section class="forms">
	<div><h1>Welcome</h1>
		</div>
		
	</section>
	
	
  <%- include('includes/bottom.ejs') %>