<%- include('includes/head.ejs') %>
	</header>
	
	<%- include('includes/staffnav.ejs') %>
	
	<section class="forms">
	<div><h1>Key Update/Create for </h1>
		</div>
		<div>
			<form action="/action_page.php">
			<label for="key">Select Key Type:</label>
			<select name="key" id="key">
				<option value="rsa">RSA</option>
				<option value="des">DES</option>
			</select><br><br>
			
			<input type="text" id="course" name="course" value=""><br>
			<input type="Generate" value="Generate">
		    <input type="Generate" value="Update/Create"><br>
			</form>
		</div>
		
	</section>
	
	
<%- include('includes/bottom.ejs') %>