<%- include('includes/head.ejs') %>
	</header>
	
	<%- include('includes/staffnav.ejs') %>
	
	<section class="forms">
	<div><h1>Create/Update Student record for </h1>
		</div>
		<div>
		<form action="/action_page.php">
  <fieldset>
    <label for="course">Course Name:</label>
    <input type="text" id="course" name="course" value=""><br><br>
    <label for="grade">Grade:</label>
    <input type="text" id="grade" name="grade" value=""><br><br>
	 <label for="term">Term:</label>
    <input type="text" id="term" name="term" value=""><br><br>
	 <label for="year">Year:</label>
    <input type="text" id="year" name="year" value=""><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
		
		
		
		
		
		
		
		
		
		</div>
		
	</section>
	
	
  <%- include('includes/bottom.ejs') %>