<%- include('includes/head.ejs') %>
	</header>
	
	<%- include('includes/staffnav.ejs') %>
	
	<section class="forms">
	<div><h1>Key Update/Create</h1>
		</div>
		<fieldset>
    <legend>Form</legend>
    <label for="course">Student ID:</label>
    <input type="text" id="course" name="course" value="">
    <input type="submit" value="Submit">
  </fieldset>
		
	</section>
	
	
  <%- include('includes/bottom.ejs') %>