<%- include('includes/head.ejs') %>
	</header>
	
  <%- include('includes/sysnav.ejs') %>
	
	<section class="forms">
	<div><h1>Create New User (Staff)</h1>
		</div>
		<div>
		<form action="/action_page.php">
  <fieldset>
    <label for="course">Username:</label>
    <input type="text" id="course" name="course" value=""><br><br>
    <label for="grade">ID:</label>
    <input type="text" id="grade" name="grade" value=""><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
		
		
		
		
		
		
		
		
		
		</div>
		
	</section>
	
	
	<%- include('includes/bottom.ejs') %>