<%- include('includes/head.ejs') %>
	</header>
	
	<%- include('includes/sysnav.ejs') %>
	
	<section class="forms">
	<div><h1>Create New User</h1>
		</div>
		<div>
		<form action="/action_page.php">
  <fieldset>
    <label for="account">Select type of User:</label>
			<select name="account" id="account">
				<option value="sysadmin">Sysadmin</option>
				<option value="staff">Staff</option>
				<option value="user">User</option>
			</select>
	  <input type="submit" value="Submit"><br>
  </fieldset>
</form>
		
		
		
		
		
		
		
		
		
		</div>
		
	</section>
	
	
	<%- include('includes/bottom.ejs') %>