<%- include('includes/head.ejs') %>
	</header>
	
	<%- include('includes/usernav.ejs') %>
	
	<section class="forms">
	<div><h1>CMPE 455 Term Project</h1>
		</div>
	
	</section>
	
	
	<%- include('includes/bottom.ejs') %>