<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="css/logged.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="container">
		<div class="primary_header">
		<nav>
		<img src="emu_logo.png" alt="logo" style="top:2.2em; left: 20px; position: absolute">
		<ul>
			<button type="submit"></button>
			</ul>	
		</nav>
		</div>
	</header>
	
	
	
	<section class="forms">
	<div><h1 style="text-align:left;">Page does not exist</h1>
		</div>
	
</section>
	
	
<footer class="bottom-page">
	
	
	
</footer>
</body>
	
</html>