<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" type="text/css" href="logged.css">
</head>
<body>
    <header class="container">
		<div class="primary_header">
		<nav>
		<img src="emu_logo.png" alt="logo" style="top:2.2em; left: 20px; position: absolute">
		<ul>
			<button type="submit">Log out</button>
			</ul>	
		</nav>
		</div>
	</header>
	
	<div class="leftmenu">
	<nav>
	<p>Dashboard</p>		
	<p>Academic<ul>
		<li>Update/Create Student Data</li>
		</ul></p>	
	<p>Financial</p>	
	<p>Security<ul>
		<li>Update/Create Student keys</li>
		</ul></p>	
		
	</nav>
	</div>
	
	<section class="forms">
	<div><h1>Create/Update Student record for </h1>
		</div>
		<div>
		<form action="/action_page.php">
  <fieldset>
    <label for="course">Course Name:</label>
    <input type="text" id="course" name="course" value=""><br><br>
    <label for="grade">Grade:</label>
    <input type="text" id="grade" name="grade" value=""><br><br>
	 <label for="term">Term:</label>
    <input type="text" id="term" name="term" value=""><br><br>
	 <label for="year">Year:</label>
    <input type="text" id="year" name="year" value=""><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
		
		
		
		
		
		
		
		
		
		</div>
		
	</section>
	
	
<footer class="bottom-page">
	
	
	
	</footer>
</body>
	
</html>