<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/logged.css">
</head>
<body>
    <header class="container">
		<div class="primary_header">
		<nav>
		<img src="emu_logo.png" alt="logo" style="top:2.2em; left: 20px; position: absolute">
		<ul>
			<button type="submit">Log out</button>
			</ul>	
		</nav>
		</div>
	</header>
	
	<div class="leftmenu">
	<nav>
	<p>Dashboard</p>		
	<p>Academic<ul>
		<li> <a href=" ">View courses</a> </li>
		</ul></p>	
	<p>Financial</p>	
	<p>My academic contacts</p>	
		
	</nav>
	</div>
	
	<section class="forms">
	<div><h1>CMPE 455 Term Project</h1>
		</div>
	
	</section>
	
	
<footer class="bottom-page">
	
	
	
	</footer>
</body>
	
</html>